// out: styles.css, sourcemap: false, compress: true

////  variables

@lightGrey: #d6d6d6;
@white: #fff;
@baseGrey: #555;
@blindGrey: rgba(173, 163, 163, 0.16);
@mainTheme: rgb(20, 39, 22);
@red: #af0606;
@pink: #e234ad;

//////  reset
html, body, h1, h2, p, div, span {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    color: @baseGrey;
    padding-top: 80px;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    bottom: 0;
    top: 0;
}

a {
    text-decoration: none;
    color: #baseGrey;
}
//// header
header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: @mainTheme;
    color: @white;
    height: 80px;
    font-size: 42px;
    line-height: 80px;
    // border-bottom: 1px solid @lightGrey;
    text-align: center;
    box-shadow: 2px 2px 4px @blindGrey;
    font-family: 'Architects Daughter', cursive;
    // text-shadow: 1px 1px 1px dimgrey;
}

.container {
        padding-top: 40px;
        max-width: 1024px;
        margin: auto;

        h1 {
            font-size: 20px;
            text-align: center;
        }

        h2 {
            font-size: 16px;
            text-align: center;
            max-width: 600px;
            margin: 30px auto 40px;
        }
}

.categories {
    box-sizing: border-box;
    display: inline-block;
    width: 49%;
    margin: auto;
    vertical-align: top;
    margin-bottom: 20px;

    b {
        text-transform: capitalize;
        background: rgba(130, 173, 175, 0.15);
        border-radius: 5px;
        padding: 8px 12px;
        font-weight: normal;
        text-align: center;
        margin: auto;
        display: block;
        font-size: 18px;
        position: relative;
        transition: all 0.05s ease-in-out;

        &:hover {
            color: @pink;
            opacity: 0.5;
        }

        i {
            position: absolute;
            right: 12px;
            top: 12px;
            cursor: pointer;
        }
    }

    ul {
        border-left: 2px solid @pink;
        padding: 0;
        text-align: left;
        padding-left: 20px;
        li {
            list-style-type: none;
             a {
                 color: @baseGrey;
             }
        }
    }
}

/////  room

.roomFrame {
    width: 100%;
    height: 100%;
}

.roomPopup {
    z-index: 14;
    background: rgba(8, 8, 8, 0.63);
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    padding: 20px 40px;
    box-sizing: border-box;
    display: none;
}
.popupBody {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 70%;
    height: 40%;
    box-shadow: 1px 1px 1px @blindGrey;
    z-index: 12;
    border-radius: 5px;
    background: @white;
    padding: 30px;
    box-sizing: border-box;

    label {
        display: block;
    }
}

/// footer

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #555;
    color: #efefef;
    padding: 4px 20px;
}
