<div id="roomPopup" class="roomPopup modal fade" role="dialog">
    <div class="popupBody modal-content">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <form method="post" action="/create_room">

            <h1>Kategoria: <span id="selected_category"></span></h1>
            <label>Nazwa pokoju:
                <input type="text" name="room_name">
            </label>
            <select name="category">
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Create">
        </form>
    </div>
</div>
